html, body  {
	margin: 0;
    font-family: 'Open Sans', sans-serif;

}
body {
    background-image: url("http://feelgrafix.com/data_images/out/28/999698-cornell-university.jpg");
    background-attachment: fixed; 
}

#primary {
	width: 70%;
    border-bottom: 6px solid slateblue;
    background-color: ghostwhite;
}
