<!doctype html>  
<html>
<head>
<title>Big-Red-Bot</title>
<link rel="favicon" href="img/cor.png" type="image/cornell">
</head>
<body>
<form action="/control" method="post">
<table style = "width:50%" align="center">
	<tr>
		<td></td>
		<td>
		 <input type="submit" value="Foward" name ="button" style = "height:75px;width:75px;font-weight:bold;font-size: 90%"></input>
		<td></td>
		<td>
		 <input type="submit" value="Fast" name ="button" style = "height:75px;width:75px;font-weight:bold;font-size: 100%"></input>
		</td>

	</tr>
	<tr>
		<td>
		 <input type="submit" value="Left" name ="button" style = "height:75px;width:75px;font-weight:bold;font-size: 100%"></input>
		</td>
		<td>
		 <input type="submit" value="Back" name ="button" style = "height:75px;width:75px;font-weight:bold;font-size: 100%"></input>
		</td>
		<td>
		 <input type="submit" value="Right" name ="button" style = "height:75px;width:75px;font-weight:bold;font-size: 100%"></input>
		<td>
		 <input type="submit" value="Slow" name ="button" style = "height:75px;width:75px; font-weight:bold; font-size: 100%"></input>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
		 <input type="submit" value="Stop" name ="button" style = "height:75px;width:75px;font-weight:bold;font-size: 100%"></input>
		</td>
	</tr>
</table>
</form>
</body>
</html>
