<!DOCTYPE HTML>  
<html>  
<head>  
<title>Big-Red-Bot</title>
<link rel="favicon" href="img/cor.png" type="image/cornell">
<link rel="stylesheet" href="css/main.css" type="text/css">
</head> 
<body>  
<form action="/login", method="post">
	<div>
		<label><b1>
		<p3>ECE 5725</p3>
		<br></br>
		<p>Big-Red-Bot</p>
		</b1></label>
	</div>
	
	<p2><img src="img/raspberry-pi-logo.png" width= 150px height= 150px></p2>
	
	<p4><img src="img/rpi.jpg" width= 220px height= 220px></p4>

	<div class="container">
		<label><b>Username</b></label>
		<input type="text" placeholder="Enter Username" name="uname" align="left" required>

		<label><b>Password&nbsp;</b></label>
		<input type="password" placeholder="Enter Password" name="psw" align="left" required>

		<p><button type="submit">Login</button></p>	
		{% if error != '' %}
			<p>{{error}}</p>
		{% endif %}
	</div>
</form>
</body>  
</html>

